.dataTables_wrapper .dataTables_length select{
    padding: 5px 23px 5px 5px !important;
    background-position: right 1px center !important;
}

.required label:after {
    content:" *";
    color:red;
  }
